.input{
   background: var(--white);
   border:none;
   box-shadow:10px 10px 30px var(--trans-black) ;
   box-sizing: border-box;
   color:inherit;
   font-family: inherit;
   font-size: inherit;
   margin-bottom:1rem;
   padding:1.75rem;
   width: 100%;
}

.input--icon{
   background: no-repeat left 1.75rem center ;
   padding-left: 4.25rem;
}

.input--email{
   background-image: url(../../../img/icons/mail.svg);
}