.card--video{
   display:flex;
   justify-self:center;
   margin:0 auto 2rem auto;
}

.card--video__video{
   position: relative;
   width: fit-content;
   max-height:20rem;
   overflow:hidden;
   margin-bottom:.5rem;
}

.card--video__video:before{
   content:"";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   display:block;
   width:4.875rem;
   height:4.875rem;
   border-radius:50%;
   background:var(--white) url(../../../img/icons/play.svg) ;
   background-repeat:  no-repeat;
   background-position: center;
   background-size:1.75rem;
} 
.card--video__title{
   color: var(--black);
   font-size:var(--cap);
   font-weight:var(--fw-700);
}